/**** PADDING ****/
.np {
	padding: 0 !important;
}

.npl {
	padding-left: 0 !important;
}
.npr {
	padding-right: 0 !important;
}
.npt {
	padding-top: 0 !important;
}

.pr10 {
	padding-right: 10px !important;
}
.pl10 {
	padding-left: 10px !important;
}

.p-t-0 { padding-top: 0px !important; }
.p-b-0 { padding-bottom: 0px !important; }
.p-r-0 { padding-right: 0px !important; }
.p-l-0 { padding-left: 0px !important; }
.p-0 { padding: 0px; }

.p-t-1 { padding-top: 1px !important; }
.p-b-1 { padding-bottom: 1px !important; }
.p-r-1 { padding-right: 1px !important; }
.p-l-1 { padding-left: 1px !important; }
.p-1 { padding: 1px; }

.p-t-2 { padding-top: 2px !important; }
.p-b-2 { padding-bottom: 2px !important; }
.p-r-2 { padding-right: 2px !important; }
.p-l-2 { padding-left: 2px !important; }
.p-2 { padding: 2px; }

.p-t-3 { padding-top: 3px !important; }
.p-b-3 { padding-bottom: 3px !important; }
.p-r-3 { padding-right: 3px !important; }
.p-l-3 { padding-left: 3px !important; }
.p-3 { padding: 3px; }

.p-t-4 { padding-top: 4px !important; }
.p-b-4 { padding-bottom: 4px !important; }
.p-r-4 { padding-right: 4px !important; }
.p-l-4 { padding-left: 4px !important; }
.p-1 { padding: 5px; }
.p-2 { padding: 8px; }
.p-3 { padding: 10px; }
.p-4 { padding: 16px; }

.p-t-5 { padding-top: 5px !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-l-5 { padding-left: 5px !important; }
.p-5 { padding: 5px; }

.p-t-6 { padding-top: 6px !important; }
.p-b-6 { padding-bottom: 6px !important; }
.p-r-6 { padding-right: 6px !important; }
.p-l-6 { padding-left: 6px !important; }
.p-6 { padding: 6px; }

.p-t-7 { padding-top: 7px !important; }
.p-b-7 { padding-bottom: 7px !important; }
.p-r-7 { padding-right: 7px !important; }
.p-l-7 { padding-left: 7px !important; }
.p-7 { padding: 7px; }

.p-t-8 { padding-top: 8px !important; }
.p-b-8 { padding-bottom: 8px !important; }
.p-r-8 { padding-right: 8px !important; }
.p-l-8 { padding-left: 8px !important; }
.p-8 { padding: 8px; }

.p-t-9 { padding-top: 9px !important; }
.p-b-9 { padding-bottom: 9px !important; }
.p-r-9 { padding-right: 9px !important; }
.p-l-9 { padding-left: 9px !important; }
.p-9 { padding: 9px; }

.p-t-10 { padding-top: 10px !important;; }
.p-b-10 { padding-bottom: 10px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-10 { padding: 10px !important; }

.p-t-11 { padding-top: 11px !important;; }
.p-b-11 { padding-bottom: 11px !important; }
.p-l-11 { padding-left: 11px !important; }
.p-r-11 { padding-right: 11px !important; }
.p-11 { padding: 11px !important; }

.p-t-12 { padding-top: 12px !important; }
.p-b-12 { padding-bottom: 12px !important; }
.p-l-12 { padding-left: 12px !important; }
.p-r-12 { padding-right: 12px !important; }
.p-12 { padding: 12px !important; }

.p-t-13 { padding-top: 13px !important; }
.p-b-13 { padding-bottom: 13px !important; }
.p-l-13 { padding-left: 13px !important; }
.p-r-13 { padding-right: 13px !important; }
.p-13 { padding: 13px !important; }

.p-t-14 { padding-top: 14px !important; }
.p-b-14 { padding-bottom: 14px !important; }
.p-l-14 { padding-left: 14px !important; }
.p-r-14 { padding-right: 14px !important; }
.p-14 { padding: 14px !important; }

.p-t-15 { padding-top: 15px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-15 { padding: 15px !important; }

.p-t-20 { padding-top: 20px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-20 { padding: 20px !important; }

.p-t-25 { padding-top: 25px !important; }
.p-b-25 { padding-bottom: 25px !important; }
.p-l-25 { padding-left: 25px !important; }
.p-r-25 { padding-right: 25px !important; }
.p-25 { padding: 25px !important; }

.p-t-40 { padding-top: 40px !important; }
.p-b-40 { padding-bottom: 40px !important; }
.p-l-40 { padding-left: 40px !important; }
.p-r-40 { padding-right: 40px !important; }
.p-40 { padding: 40px !important; }

.p-t-35 { padding-top: 35px !important; }
.p-b-35 { padding-bottom: 35px !important; }
.p-l-35 { padding-left: 35px !important; }
.p-r-35 { padding-right: 35px !important; }
.p-35 { padding: 35px !important; }

.p-t-40 { padding-top: 40px !important; }
.p-b-40 { padding-bottom: 40px !important; }
.p-l-40 { padding-left: 40px !important; }
.p-r-40 { padding-right: 40px !important; }
.p-40 { padding: 40px !important; }

.p-t-60 { padding-top: 60px; }
.p-b-60 { padding-bottom: 60px; }
.p-l-60 { padding-left: 60px; }
.p-r-60 { padding-right: 60px; }
.p-60 { padding: 60px; }

.p-tb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.npb {
  padding-bottom: 0;
}

.npt {
	padding-top: 0px;
}
/**** END PADDING ****/

/**** MARGIN ****/
.nm {
	margin: 0;
}
.nmt {
	margin-top: 0 !important;
}

.m-t-0 { margin-top: 0px !important; }
.m-b-0 { margin-bottom: 0px !important; }
.m-r-0 { margin-right: 0px !important; }
.m-l-0 { margin-left: 0px !important; }
.m-0 { margin: 0px !important; }

.m-t-1 { margin-top: 1px; }
.m-b-1 { margin-bottom: 1px; }
.m-r-1 { margin-right: 1px; }
.m-l-1 { margin-left: 1px; }
.m-1 { margin: 1px; }

.m-t-2 { margin-top: 2px; }
.m-b-2 { margin-bottom: 2px; }
.m-r-2 { margin-right: 2px; }
.m-l-2 { margin-left: 2px; }
.m-2 { margin: 2px; }

.m-t-3 { margin-top: 3px; }
.m-b-3 { margin-bottom: 3px; }
.m-r-3 { margin-right: 3px; }
.m-l-3 { margin-left: 3px; }
.m-3 { margin: 3px; }

.m-t-4 { margin-top: 4px; }
.m-b-4 { margin-bottom: 4px; }
.m-r-4 { margin-right: 4px; }
.m-l-4 { margin-left: 4px; }
.m-4 { margin: 4px; }

.m-t-5 { margin-top: 5px; }
.m-b-5 { margin-bottom: 5px; }
.m-r-5 { margin-right: 5px; }
.m-l-5 { margin-left: 5px; }
.m-5 { margin: 5px; }

.m-t-6 { margin-top: 6px; }
.m-b-6 { margin-bottom: 6px; }
.m-r-6 { margin-right: 6px; }
.m-l-6 { margin-left: 6px; }
.m-6 { margin: 6px; }

.m-t-7 { margin-top: 7px; }
.m-b-7 { margin-bottom: 7px; }
.m-r-7 { margin-right: 7px; }
.m-l-7 { margin-left: 7px; }
.m-7 { margin: 7px; }

.m-t-8 { margin-top: 8px; }
.m-b-8 { margin-bottom: 8px; }
.m-r-8 { margin-right: 8px; }
.m-l-8 { margin-left: 8px; }
.m-8 { margin: 8px; }

.m-t-9 { margin-top: 9px; }
.m-b-9 { margin-bottom: 9px; }
.m-r-9 { margin-right: 9px; }
.m-l-9 { margin-left: 9px; }
.m-9 { margin: 9px; }

.m-t-10 { margin-top: 10px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-10 { margin: 10px !important; }

.m-t-15 { margin-top: 15px; }
.m-b-15 { margin-bottom: 15px; }
.m-r-15 { margin-right: 15px; }
.m-l-15 { margin-left: 15px; }
.m-15 { margin: 15px; }

.m-t-20 { margin-top: 20px; }
.m-b-20 { margin-bottom: 20px; }
.m-r-20 { margin-right: 20px; }
.m-l-20 { margin-left: 20px; }
.m-20 { margin: 20px; }

.m-t-40 { margin-top: 40px; }
.m-b-40 { margin-bottom: 40px; }
.m-r-40 { margin-right: 40px; }
.m-l-40 { margin-left: 40px; }
.m-40 { margin: 40px; }

.mb0 {
	margin-bottom: 0 !important;
}

.m-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt10 {
	margin-top: 10px;
}

.m-t-100 {
  margin-top:100px;
}

.nmb {
	margin-bottom: 0;
}
/**** END MARGIN ****/

/**** WIDTH ****/
.w1 {
	width: 1%;
}
.w100 {
	width: 100%;
}

.w36px {
	width: 36px;
}

.w50px {
	width: 50px !important;
}

.w80px {
	width: 80px !important;
}

.w120px {
	width: 120px;
}

.w160px {
  width: 160px;
}
.w180px {
  width: 180px;
}
.w200px {
  width: 200px;
}
.nmw {
	min-width: 0px;
}

.wfit {
  width: fit-content;
}
/**** END WIDTH ****/

/**** BORDERS ****/
.no-br {
	border-radius:0;
}
.bb {
	border-bottom: thin solid #DBDBDB;
}
.bl {
	border-left: thin solid #DBDBDB;
}
.nb {
	border: none;
}

.ba {
	border-style: solid;
  border-width: 1px;
}

.bb-dashed-hover:hover {
	border-bottom-color: #979797;
}

.b--light-gray {
	border-color: #dfdfdf;
}

.b--light-blue {
	border-color: #BACFDB;
}

.bb--light-blue {
	border-bottom-color: #BACFDB;
}

.b--gray {
	border-color: #979797;
}

.br2 {
	border-radius: 4px;
}

.bb-dashed {
  border-bottom-style: dashed;
}

.bb-w1 {
	border-bottom-width: 1px;
}
/**** END BORDERS ****/

/**** Font ****/
.dark-gray {
	color: #042F57 !important;
}

.light-gray {
	color: #B3C3CD;
}

.strong {
	font-weight: bold;
}
.em {
	font-style: italic;
}

.no-underline {
	text-decoration: none;
}

.link {
	text-decoration: none !important;
}

.txt-14 {
	font-size: 14px !important;
}

.txt-12 {
	font-size: 12px;
}

.cLightGray { color: #ccc; }
.cMediumGray { color: #999; }
.cDarkGray { color: #333; }

.fs-8 { font-size: 8px !important; }
.fs-9 { font-size: 9px !important; }
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-16 { font-size: 16px !important; }
.fs-18 { font-size: 18px !important; }
/**** END FONT ****/

.vat {
  vertical-align: top;
}

.z9000 {
  z-index: 9000;
}
/**** BACKGROUND ****/
/**
	important for now until chris fixes menu
**/
.bgDarkGray { background-color: #343434 !important; }

.hover-bg-light-gray:hover {
  background-color: #E5EAEE;
}

.bg-white { background-color: #fff; }
/****	END BACKGROUND ****/

.r25 {
	right:25px !important;
}

.lh-16 { line-height: 16px; }
.lh-24 { line-height: 24px; }
.lh-40 { line-height: 40px; }

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&[tabindex] {
		outline: none !important;
	}
}
.h100 {
	height: 100%;
}

.nw {
	white-space: nowrap;
}

.clear {
	clear: both;
}

.list {
	list-style-type: none;
}

.shadow-1 {
	box-shadow: 2px 0px 24px -8px #888888;
  -webkit-box-shadow: 2px 0px 24px -8px #888888;
  -moz-box-shadow: 2px 0px 24px -8px #888888;
}

.cursor-pointer, .cptr {
	cursor:pointer;
}

.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }

.cdisabled {
	cursor: not-allowed;
}

hr {
	&.dashed {
		border-top: 1px dashed #ccc;
	}
	&.shadow {
		-webkit-box-shadow: 0 10px 6px -6px #ccc;
		-moz-box-shadow: 0 10px 6px -6px #ccc;
		box-shadow: 0 10px 6px -6px #ccc;
	}
	&.no-margin {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.truncate {
	display: block;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	&.truncate-160 {
		max-width: 160px;
	}
	&.truncate-200 {
		max-width: 200px;
	}
	&.truncate-220 {
		max-width: 220px;
	}
	&.truncate-400 {
		max-width: 400px;
	}
	&.truncate-460 {
		max-width: 460px;
	}
	&.truncate-500 {
		max-width: 500px;
	}
	&.truncate-600 {
		max-width: 600px;
	}
	&.truncate-580 {
		max-width: 580px;
	}
	&.truncate-800 {
		max-width: 800px;
	}
	&.truncate-1000 {
		max-width: 1000px;
	}
}
